




/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: Raleway-Regular;
  src: url('../fonts/raleway/Raleway-Regular.ttf');
}

@font-face {
  font-family: Raleway-Black;
  src: url('../fonts/raleway/Raleway-Black.ttf');
}

@font-face {
  font-family: Raleway-SemiBold;
  src: url('../fonts/raleway/Raleway-SemiBold.ttf');
}

@font-face {
  font-family: Raleway-Bold;
  src: url('../fonts/raleway/Raleway-Bold.ttf');
}


@font-face {
  font-family: Exo-Regular;
  src: url('../fonts/exo/Exo-Regular.ttf');
}

@font-face {
  font-family: Exo-Black;
  src: url('../fonts/exo/Exo-Black.ttf');
}

@font-face {
  font-family: Exo-SemiBold;
  src: url('../fonts/exo/Exo-SemiBold.ttf');
}

@font-face {
  font-family: Exo-Bold;
  src: url('../fonts/exo/Exo-Bold.ttf');
}

body, html {
font-size: 12px;

}

/*---------------------------------------------*/
a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #2A3390;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #acacac; }
input:-moz-placeholder { color: #acacac; }
input::-moz-placeholder { color: #acacac; }
input:-ms-input-placeholder { color: #acacac; }

textarea::-webkit-input-placeholder { color: #acacac; }
textarea:-moz-placeholder { color: #acacac; }
textarea::-moz-placeholder { color: #acacac; }
textarea:-ms-input-placeholder { color: #acacac; }

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Raleway-Regular;
  font-size: 16px;
  color: #999999;
  line-height: 1.4;
}

.bo1 {
  border-bottom: 1px solid #999999;
}

.hov1:hover {
  border-color: #2A3390;
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.scene {
  display: inline-block;
  width: 200px;
  height: 260px;
/*   border: 1px solid #CCC; */
  margin: 40px 0;
  perspective: 600px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  backface-visibility: hidden;
}

.card__face--front {
  background: crimson;
}

.card__face--back {
  background: slateblue;
  transform: rotateY(180deg);
}




.container-login100 {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-image: url('/themes/default/images/backgrounds/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.container-login100::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url('/themes/default/images/backgrounds/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.wrap-login100 {
  width: 320px;
  background: #fff;
  border-radius: 3px;
  overflow: hidden;
}


.container-mobile100 {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #0250c5;
  background-image: url('/themes/default/images/backgrounds/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.container-mobile100::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url('../img/img-01.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.wrap-mobile100 {
  width: 320px;
  background: #fff;
  border-radius: 3px;
  overflow: hidden;
}
/*------------------------------------------------------------------
[  ]*/
.login100-form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.login100-form-title {
  font-family: Raleway-Black;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;

  width: 100%;
  display: block;
}


/*---------------------------------------------*/
.wrap-input100 {
  position: relative;
  width: 100%;
  z-index: 1;
}

.input100 {
/*  font-family: Raleway-SemiBold;*/
  font-size: 15px;
  line-height: 1.2;
  color: #686868;

  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 42px;
  border-radius: 3px;
/*  padding: 0 30px 0 65px;*/
}


/*------------------------------------------------------------------
[ Focus ]*/
.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 3px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(211,63,141, 0.6);
}

.input100:focus + .focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 60px 20px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 60px 20px;
    opacity: 0;
  }
}

.symbol-input100 {
  font-size: 18px;
  color: #999999;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 23px;
  padding-bottom: 5px;
  pointer-events: none;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100 + .symbol-input100 {
  color: #2A3390;
  padding-left: 18px;
}

/*==================================================================
[ Restyle Checkbox ]*/

.input-checkbox100 {
  display: none;
}

.label-checkbox100 {
  font-family: Raleway-Regular;
  font-size: 13px;
  color: #999999;
  line-height: 1.2;

  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}

.label-checkbox100::before {
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 13px;
  color: transparent;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  background: #fff;
  border: 2px solid #2A3390;
  left: 0;
  top: 48%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.input-checkbox100:checked + .label-checkbox100::before {
  color: #2A3390;
}

.pull-left {
text-align: left;

}

.pull-right {
text-align: right;

}


/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.login100-form-btn {
  font-family: Raleway-Bold;
  font-size: 13px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;

  width: 100%;
  height: 42px;
  border-radius: 3px;
  background: #2A3390;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background: #333333;
}

/*------------------------------------------------------------------
[ Button sign in with ]*/
.btn-face,
.btn-google {
  font-family: Raleway-Bold;
  font-size: 13px;
  line-height: 1.2;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc((100% - 10px) / 2);
  height: 30px;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  background-color: #fff;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}


.btn-face {
  color: #3b5998;
}

.btn-face i {
  font-size: 20px;
  margin-right: 10px;
  padding-bottom: 1px;
}

.btn-google {
  color: #555555;
}

.btn-google img {
  width: 19px;
  margin-right: 10px;
  padding-bottom: 1px;
}


.btn-face:hover,
.btn-google:hover {
  border-color: #2A3390;
}



/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 3px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;

  font-family: Raleway-SemiBold;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 13px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

.sipStatus {
  margin: 0 -15px 15px -15px;
  padding: 5px 15px;
  text-align: center;
/*  background-color: #111;*/
  color: #111;
}
.txtCallStatus {
  color: #111;
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
 /* width: 280px;*/
  clear: both;
  text-align: center;
  font-family: Exo-Regular;
  /*font-family: 'Exo';*/
}

.digit{
  float: left;
  padding: 10px 30px;
  width: 30px;
  font-size: 13px;
  cursor: pointer;
}

.sub {
  font-size: 0.8rem;
  color: grey;
}

/*.container {
  background-color: white;
  width: 320px;
  padding: 20px;
  margin: 30px auto;
  height: auto;
  text-align: center;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
*/
.containerNav {
  background-color: white;
  width: 300px;
  padding: 20px;
  margin: auto auto;
  height: auto;
  border-radius: 10px;
/*  height: 470px;*/
  text-align: center;
}

.containerNavmobile {
  background-color: white;
  width: 100%;
  margin: 0 auto;
   height: 470px;
/*  height: 470px;*/
  text-align: center;
}
.output {
   font-family: Exo-Regular;
/*  font-family: "Exo";*/
  font-size: 2rem;
 /* height: 60px;*/
 height: 30px;
  font-weight: bold;
  color: #1976d2;
}

#numDisplay .numDisplay {
   font-family: Exo-Regular;
/*  font-family: "Exo";*/
  font-size: 2rem;
   /* height: 60px;*/
 height: 40px;
  font-weight: bold;
  color: #1976d2;
}

#sip-dialpad {
  width: auto;
  padding: 5px 36px;
}

#sipClientMobile #sip-dialpad-mobile {
  width: 240px;
  padding: 5px 36px;
}

#sipClient #sldVolume {
  width: 140px;
  margin: 0 auto;
  box-shadow: none;
}

#sipClient .sip-panel h3 {
  margin-top: 22px;
}
#sipClient #sip-splash {
  height: 371px;
}
#sipClient #sip-splash .fa {
  margin-bottom: 15px;
}
#sipClient #sip-splash .fa-circle {
  color: #5cb85c;
}
#sipClient #sip-log .panel-heading {
 /* padding: 10px 8px;*/
}
#sipClient #sip-logitems {
  height: auto;
  overflow: auto;
}
#sipClient #sldVolume {
  width: 140px;
  margin: 0 auto;
  box-shadow: none;
}
#sipClient .sip-logitem {
  padding: 4px;
}

#call {
  display: inline-block;
  background-color: #66bb6a;
  padding: 4px 30px;
  margin: 10px;
  color: white;
  border-radius: 4px;
  float: left;
  cursor: pointer;
}

#conference {
  display: inline-block;
  background-color: #3960ef;
  padding: 4px 9px;
  margin: 10px;
  color: white;
  border-radius: 4px;
  float: left;
  cursor: pointer;
}

.btnAgent {
  display: inline-block;
  background-color: #3960ef;
  padding: 4px 9px;
  margin: 10px;
  color: white;
  border-radius: 4px;
  float: left;
  cursor: pointer;
}

.btnDnd {
  display: inline-block;
  background-color: #fec64f;
  padding: 4px 9px;
  margin: 10px;
  color: white;
  border-radius: 4px;
  float: left;
  cursor: pointer;
}

.btnDndOn {
  display: inline-block;
  background-color: #dc3545;
  padding: 4px 9px;
  margin: 10px;
  color: white;
  border-radius: 4px;
  float: left;
  cursor: pointer;
}

#volume {
  display: inline-block;
  background-color: #3960ef;
  padding: 4px 9px;
  margin: 10px;
  color: white;
  border-radius: 4px;
  float: left;
  cursor: pointer;
}

#logout {
  display: inline-block;
  background-color: #dc3545;
  padding: 4px 9px;
  margin: 10px;
  color: white;
  border-radius: 4px;
  float: left;
  cursor: pointer;
}

.botrow {
 /* margin: 10px -8px;
  width: 200px;*/
  display: flex;
  clear: both;
  text-align: center;
     font-family: Exo-Regular;
/*  font-family: "Exo";*/

}

.digit:active,
.dig:active {
  background-color: #e6e6e6;
}

#call:hover {
  background-color: #81c784;
}

.splash_hide {
  display: none;
}

.splash_show {
  display: flex;
}

.dig {
  float: left;
  /*padding: 10px 20px;*/
  padding: 10px 18px;
  margin: 10px;
  width: 30px;
  cursor: pointer;
}


.pull-left {
  float: left;

}


.pull-right {
  float: right;

}

#op_btn_status_available {
	background-image: -moz-linear-gradient(top, #8ec989 0%, #2d9c38 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #8ec989), color-stop(1, #2d9c38));
	background-color: #2d9c38;
	border: 1px solid #006200;
	}

#op_btn_status_available_on_demand {
	background-image: -moz-linear-gradient(top, #abd0aa 0%, #629d62 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #abd0aa), color-stop(1, #629d62));
	background-color: #629d62;
	border: 1px solid #619c61;
	}

#op_btn_status_on_break {
	background-image: -moz-linear-gradient(top, #ddc38b 0%, #be8e2c 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ddc38b), color-stop(1, #be8e2c));
	background-color: #be8e2c;
	border: 1px solid #7d1b00;
	}

#op_btn_status_do_not_disturb {
	background-image: -moz-linear-gradient(top, #cc8984 0%, #960d10 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #cc8984), color-stop(1, #960d10));
	background-color: #960d10;
	border: 1px solid #5b0000;
	}

#op_btn_status_logged_out {
	background-image: -moz-linear-gradient(top, #cacac9 0%, #8d8d8b 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #cacac9), color-stop(1, #8d8d8b));
	background-color: #8d8d8b;
	border: 1px solid #5d5f5a;
	}
#op_btn_status_lunch {
	background-image: -moz-linear-gradient(top, #ddc38b 0%, #be8e2c 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ddc38b), color-stop(1, #be8e2c));
	background-color: #be8e2c;
	border: 1px solid #7d1b00;
	}

#op_btn_status_bathroom {
	background-image: -moz-linear-gradient(top, #cc8984 0%, #960d10 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #cc8984), color-stop(1, #960d10));
	background-color: #960d10;
	border: 1px solid #5b0000;
	}

#op_btn_status_feedback {
	background-image: -moz-linear-gradient(top, #d66721 0%, #d69721 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d66721), color-stop(1, #d69721));
	background-color: #d66721;
	border: 1px solid #5d5f5a;
	}

#op_btn_status_snack {
	background-image: -moz-linear-gradient(top, #cacac9 0%, #8d8d8b 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #cacac9), color-stop(1, #8d8d8b));
	background-color: #8d8d8b;
	border: 1px solid #5d5f5a;
	}

#op_btn_status_training {
	background-image: -moz-linear-gradient(top, #abd0aa 0%, #629d62 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #abd0aa), color-stop(1, #629d62));
	background-color: #629d62;
	border: 1px solid #619c61;
	}

	#op_btn_status_meeting {
		background: #356aa0;
		background: -moz-linear-gradient(top,  #356aa0 0%, #356aa0 100%);
		background: -webkit-linear-gradient(top,  #356aa0 0%,#356aa0 100%);
		background: linear-gradient(to bottom,  #356aa0 0%,#356aa0 100%);
		}
		



.numDisplay::-webkit-input-placeholder {
  color: #bbb;
}
.numDisplay::-moz-placeholder {
  color: #bbb;
}
.numDisplay::-ms-input-placeholder {
  color: #bbb;
}
.numDisplay::-moz-placeholder {
  color: #bbb;
}

#sipClient #numDisplay::-webkit-input-placeholder {
  color: #bbb;
}
#sipClient #numDisplay::-moz-placeholder {
  color: #bbb;
}
#sipClient #numDisplay::-ms-input-placeholder {
  color: #bbb;
}
#sipClient #numDisplay::-moz-placeholder {
  color: #bbb;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

/*//////////////////////////////////////////////////////////////////
[ responsive ]*/

@media (max-width: 480px) {
  .wrap-login100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}
