; Author: Daniel Paixao <daniel@flux.net.br>
; cp /var/www/html/fluxpbx/app/xml_cdr/resources/service/debian.service /etc/systemd/system/xml_cdr.service
; systemctl enable xml_cdr
; systemctl start xml_cdr
; systemctl daemon-reload

[Unit]
Description=FluxPBX xml_cdr
Wants=network-online.target
Requires=network.target local-fs.target
;Requires=network.target local-fs.target postgresql.service
After=network.target network-online.target local-fs.target
;After=network.target network-online.target local-fs.target postgresql.service
StartLimitIntervalSec=0

[Service]
Type=simple
;Type=forking
PIDFile=/var/run/fluxpbx/xml_cdr.pid
WorkingDirectory=/var/www/html/fluxpbx
;Environment="USER=www-data"
;Environment="GROUP=www-data"
;EnvironmentFile=-/etc/default/fluxpbx
ExecStartPre=/bin/mkdir -p /var/run/fluxpbx
;ExecStartPre=/bin/chown -R ${USER}:${GROUP} /var/www/fluxpbx
ExecStart=/usr/bin/php /var/www/html/fluxpbx/app/xml_cdr/resources/service/xml_cdr.php
TimeoutSec=55s
Restart=always

[Install]
WantedBy=multi-user.target
Also=

