; Author: Daniel Paixao <daniel@flux.cloud>
; cp /var/www/html/fluxpbx/app/messages/resources/service/debian-message_events.service /etc/systemd/system/message_events.service
; systemctl enable message_events
; systemctl start message_events
; systemctl daemon-reload

[Unit]
Description=FluxPBX Message Events
Wants=network-online.target
Requires=network.target local-fs.target postgresql.service
After=network.target network-online.target local-fs.target postgresql.service
StartLimitIntervalSec=0

[Service]
Type=simple
;Type=forking
PIDFile=/var/run/fluxpbx/message_events.pid
WorkingDirectory=/var/www/html/fluxpbx
;Environment="USER=www-data"
;Environment="GROUP=www-data"
;EnvironmentFile=-/etc/default/fluxpbx
ExecStartPre=/bin/mkdir -p /var/run/fluxpbx
;ExecStartPre=/bin/chown -R ${USER}:${GROUP} /var/www/html/fluxpbx
ExecStart=/usr/bin/php /var/www/html/fluxpbx/app/messages/resources/service/message_events.php
TimeoutSec=55s
Restart=always

[Install]
WantedBy=multi-user.target
Also=
